body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: #eaeaea;
}

nav {
    background-color: #f9f9f9;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:orangered;
}

nav .logo {
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1px;
}
nav a b {
    color: red;
}
nav div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav div ul {
    list-style: none;
    display: flex;
    margin-right: 5px;
}
nav div ul li {
    margin: 5px;
}
nav div ul li a {
    font-size: 16px;
    text-decoration: none;
}
nav div form input {
    border: none;
    outline: none;
    background-color: #fff;
    height: 100%;
    width: 200px;
    font-size: 18px;
    border: 1px solid #ccc;
    padding: 5px;
}
.btn {
    background-color:orange;
    color: #fff;
    padding: 8px 10px;
    border: none;
    cursor: pointer;
    height: 100%;
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
nav ul li a {
    text-decoration: none;
    margin: 8px;
}

nav ul ul {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #f9f9f9;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
}

li:hover > ul {
    display: block;
}

.nav-item.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-menu {
    display: none;
    margin-top: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 0;
}

.dropdown-menu li {
    padding: 12px;
    text-decoration: none;
    color: #333;
    display: block;
}

.dropdown-menu li a {
    text-decoration: none;
    color: #333;
    display: block;
}

.dropdown-menu li:hover {
    background-color: #f0f0f0;
}

/* Footer styles */
footer {
    background-color: orangered;
    color: #fff;
    text-align: center;
    padding: 20px;
    margin-bottom: 20px;
}
 .main {
    max-width: 90%;
    width: 70%;
    height: 400px;
    margin-left: 300px;
 }
.displayimg {
    height: 202px;
    width: 180px;
    max-width: 100%;
}

/* Flash messages */
.custom-alert {
    display: inline-block;
    background-color: #dff0d8;
    padding: 15px;
    margin: 10px 5px;
    border: 1px solid #d6e9c6;
    border-radius: 4px;
}
/* Progress bar */
.progress-container {
    height: 20px;
    border: 1px solid #ccc;
    overflow: hidden;
    width: 200px;
    border-radius: 10px;
}

.progress-bar {
    height: 100%;
}