body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: #eaeaea;
}

nav {
    background-color: #f9f9f9;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:orangered;
}

nav .logo {
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1px;
}
nav a b {
    color: red;
}
nav div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav div ul {
    list-style: none;
    display: flex;
    margin-right: 5px;
}
nav div ul li {
    margin: 5px;
}
nav div ul li a {
    font-size: 16px;
    text-decoration: none;
}
nav div form input {
    border: none;
    outline: none;
    background-color: #fff;
    height: 100%;
    width: 200px;
    font-size: 18px;
    border: 1px solid #ccc;
    padding: 5px;
}
.btn {
    background-color:orange;
    color: #fff;
    padding: 8px 10px;
    border: none;
    cursor: pointer;
    height: 100%;
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
nav ul li a {
    text-decoration: none;
    margin: 8px;
}

nav ul ul {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #f9f9f9;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
}

li:hover > ul {
    display: block;
}

.nav-item.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-menu {
    display: none;
    margin-top: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 0;
}

.dropdown-menu li {
    padding: 12px;
    text-decoration: none;
    color: #333;
    display: block;
}

.dropdown-menu li a {
    text-decoration: none;
    color: #333;
    display: block;
}

.dropdown-menu li:hover {
    background-color: #f0f0f0;
}

/* Footer styles */
footer {
    background-color: orangered;
    color: #fff;
    text-align: center;
    padding: 20px;
}
 .main {
    max-width: 90%;
    width: 70%;
    height: 400px;
    margin-left: 300px;
 }
.displayimg {
    height: 202px;
    width: 180px;
    max-width: 100%;
}

/* Flash messages */
.custom-alert {
    display: inline-block;
    background-color: #dff0d8;
    padding: 15px;
    margin: 10px 5px;
    border: 1px solid #d6e9c6;
    border-radius: 4px;
}
/* Progress bar */
.progress-container {
    height: 20px;
    border: 1px solid #ccc;
    overflow: hidden;
    width: 200px;
    border-radius: 10px;
}

.progress-bar {
    height: 100%;
}

.homepage {
    background-color: #f0f0f0;
    height: 90vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}


.services-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; /* Adjust alignment as needed */
    margin: 0 auto; /* Center the container */
    max-width: 1200px; /* Set maximum width */
}

.service {
    width: calc(50% - 20px); /* Adjust width based on desired spacing */
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    border: 1px solid orangered;
}

.service img {
    max-width: 100%;
    width: 700px;
    height: 300px; /* Set a fixed height for the images */
    object-fit: cover; /* Ensure images maintain aspect ratio */
}
.service button, .homepage button, .text-container button {
    padding: 12px 25px;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-color: orangered;
}
.service p {
    font-size: 17px;
}
.service button:hover,
.homepage button:hover,
.text-container button:hover {
    background-color: orangered;
    color: white; 
}
.aboutclass {
    display: flex;
    margin-left: 150px;
    margin-right: 50px;;
    justify-content: space-between;
    align-items: flex-start;
}

.image-container {
    width: 700px; /* Set width of image container */
    height: 300px; /* Set height of image container */
}

.image-container img {
    width: 650px; /* Make image fill its container */
    height: 300px; /* Make image fill its container */
    object-fit: cover; /* Maintain aspect ratio without stretching */
}

.text-container {
    flex: 1; /* Let text container take remaining space */
    margin-left: 20px; /* Add space between image and text */
}
.text-container p {
    font-size: 17px;
}

