{% extends 'base.html' %}
{% block title %}All products {% endblock %}
{% block content %}

<form class="search-form" role="search" action="/search" method="POST">
    <input name="search" type="search" placeholder="Search..." aria-label="Search">
    <button type="submit">Search</button>
</form>

<div class="homediv-container">
    {% for item in items %}
    <div class="home-products">
        <div class="product">
            <a href="{{ url_for('views.product', item_id=item.id) }}"><img class="displayimg" src="{{ item.product_picture }}" alt=""></a>
            <div class="product-details">
                <h3>{{ item.product_name }}</h6>
                <div class="price">
                    <h5>$ {{ item.current_price }}</h5>
                    <strike><p>$ {{ item.previous_price }}</p></strike>
                </div>
                <div class="actions">
                    <button><a href="/add-to-cart/{{ item.id }}">Add to cart</a></button>
                    <p style="color: rgb(167, 57, 17); font-weight: 600; font-size: 18px;">{{ item.in_stock }} items left</p>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<div class="pagination">
    {% for page_num in items.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
        {% if page_num %}
            {% if items.page == page_num %}
                <a href="{{ url_for('views.products', page=page_num) }}" class="current-page">{{ page_num }}</a>
            {% else %}
                <a href="{{ url_for('views.products', page=page_num) }}">{{ page_num }}</a>
            {% endif %}
        {% else %}
            <span class="ellipsis">...</span>
        {% endif %}
    {% endfor %}
</div>


{% endblock %}