{% extends 'base.html' %}

{% block title %} Cart {% endblock %}

{% block content %}

<div>

    {% if cart %}
    <h1>Shopping cart</h1>

    <div>
       {% for item in cart %} 
       <div>
        <img src="{{ item.product.product_picture }}" alt="" height="150px" width="150px" >
       </div>
       <div>
        <h3>{{ item.product.product_name }}</h3>
        <div>
            <label for="quantity">Quantity</label>
            <a class="minus-cart" pid="{{item.id}}"><i class="fas fa-minus-square fa-lg"></i></a>
            <span id="quantity">{{ item.quantity }}</span>
            <a class="plus-cart" pid="{{ item.id }}"><i class="fas fa-plus-square fa-lg"></i></a>
        </div>
        <div>
            <p><span><strong>Ksh {{ item.product.current_price }}</strong></span></p>
            <a href="" class="remove-cart" pid="{{item.id}}">Remove</a>
        </div>
       </div>
       <hr>
       {% endfor %}
    </div>
    <div>
        <h3>Cart Summary</h3>
        <hr>
        <ul>
            {% for item in cart %}
            <li><strong>{{ item.product.product_name }}</strong><span id="amount">{{ item.product.current_price }} X <span id="quantity{{item.id}}">{{ item.quantity }}</span></span></li>
            {% endfor %}
            <li>Amout <span>Ksh <span id="amount_tt">{{ amount }}</span></span></li>
            <li>
                <div>
                    <strong>Total</strong><small>(Including Shipping)</small>
                </div>
                <span><strong>Ksh </strong><span id="totalamount"><strong>{{ total }}</strong></span></span>
            </li>
        </ul>
        <div><a href="/place-order">Place Order</a></div>
    </div>

    {% else %}
    <h1>Your Cart is Empty</h1>
    {% endif %}


</div>

{% endblock %}