{% extends 'base.html' %}
{% block title %} Home Page {% endblock %}

{% block content %}
    <div class="homepage">
        <div>
            <h1 style="margin-bottom: 10px;">Make Your Home And Office
                <br><span style="margin-left: 80px; margin-top: 5px;">Modern Design.</span>
            </h1>
            <p style="font-size: 18px; font-family: Arial, Helvetica, sans-serif;">Elevate your space with our curated collection of exquisite furniture.
                <br>Where comfort meets style, discover pieces that redefine your space.
            </p>
            <Button style="padding: 10px 20px; margin-top: 10px; font-size: 18px;">Shop Now</Button>
        </div>
        <div>
            <img src="static/images/coverimg.avif" alt="">
        </div>
    </div>
    <h1 style="text-align: center;">OUR SERVICES</h1>
    <div class="services-container"> 
        <div class="service">
            <h2>MODERNIZE YOUR HOME</h2>
            <img src="static/images/homeimage.avif">
            <p>Transform your home into a sanctuary of contemporary elegance with our exquisite collection of modern furniture. From sleek minimalist designs to bold statement pieces, our curated selection brings together form and function to create spaces that exude style and comfort. Whether you're furnishing a cozy apartment or a spacious house, our range of sofas, chairs, tables, and accessories will elevate every corner of your living space, making it a true reflection of your modern lifestyle.</p>
            <button>Shop Now</button>
        </div> 
        <div class="service">
            <h2>OFFICE ESSENTIALS</h2>
            <img src="static/images/officeservice.jpg">
            <p>Upgrade your workspace with our high-quality office furniture designed for both style and function. Our collection, crafted with the modern professional in mind, blends awesome design with contemporary aesthetics to promote productivity and creativity. From comfortable chairs and spacious desks to practical storage solutions, we provide everything you need to create an inspiring office environment. Explore our sleek furniture pieces to elevate your office today.</p>
            <button>Shop Now</button>
        </div>
    </div>
    <h1 style="text-align: center;">About Us</h1>
    <div class="aboutclass">
        <div class="image-container">
            <img src="static/images/homeimage.avif" alt="About Image">
        </div>
        <div class="text-container">
            <p>
                Welcome to Sleek Furniture Store, where we specialize in transforming living and working spaces with our exceptional furniture solutions. With a focus on blending style and functionality, we curate furniture pieces that elevate your environment while reflecting your unique taste and lifestyle.
                Founded on a passion for design and commitment to excellence, Sleek Furniture Store offers a diverse collection of furniture, from sleek and modern office furniture to elegant and comfortable home furnishings. Each piece is carefully selected to meet the highest standards of craftsmanship and style. Our dedication extends beyond offering great furniture – we provide exceptional service and support throughout your journey with us. Thank you for choosing Sleek Furniture Store as your partner in creating beautiful and functional spaces.
            </p>
            <button>Shop Now</button>
        </div> 
    </div>
{% endblock %}