{% extends 'base.html' %}

{% block title %} Orders {% endblock %}

{% block content %}

    <div class="orders-container">
        <div>
            {% if orders %}
            <h1>Orders</h1>
            <div>
                <div>
                    {% for item in orders %}
                    <div class="order-item">
                        <img src="{{ item.product.product_picture }}" alt="">
                        <div class="order-item-details">
                            <h3>{{ item.product.product_name }}</h3>
                            <p>Quantity: {{ item.quantity }} </p>
                            <p>Price: Ksh {{ item.price }}</p>
                            <div>
                                <p>Order Status: {{ item.status }}</p>
                                <div class="progress-container">
                                    <div class="progress-bar {% if item.status == 'Pending' %}pending{% elif item.status == 'Accepted' %}accepted{% elif item.status == 'Out for delivery' %}out-for-delivery{% elif item.status == 'Delivered' %}delivered{% elif item.status == 'Canceled' %}canceled{% endif %}" style="width: {% if item.status == 'Pending' %}20{% elif item.status == 'Accepted' %}40{% elif item.status == 'Out for delivery' %}70{% elif item.status == 'Delivered' %}100{% elif item.status == 'Canceled' %}100{% endif %}%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            {% else %}
            <h1>You have no Orders</h1>
            {% endif %}
        </div>
    </div>
{% endblock %}