{% extends 'base.html' %}
{% block title %} Product {% endblock %}
{% block content %}

<div class="homediv-container">
    <div class="home-products">
        <div class="product">
            <img class="displayimg" src="/media/leatherrecliner.jpg" alt="">
            <div class="product-details">
                <h3>{{ item.product_name }}</h3> 
                <div class="price">
                    <h5>$ {{ item.current_price }}</h5>
                    <strike><p>$ {{ item.previous_price }}</p></strike>
                </div>
                <div class="actions">
                    <button><a href="/add-to-cart/{{ item.id }}">Add to cart</a></button>
                    <p style="color: rgb(167, 57, 17); font-weight: 600; font-size: 18px;">{{ item.in_stock }} items left</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}